{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rendless.com/api"
    }
  ],
  "security": [
  ],
  "paths": {
    "/simple-url/{id}": {
      "get": {
        "description": "Generate an image from a template and return it as a binary file",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the template, you can find it in the dashboard",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "variables",
            "schema": {
              "propertyNames": {
                "pattern": "^[A-Za-z][A-Za-z0-9]*$"
              },
              "type":"string",
              "additionalProperties": {
                "type": "string",
                "pattern": "^[A-Za-z][A-Za-z0-9]*$"
              },
              "example": {
                "variablesName1": "var1",
                "variablesName2": "var2"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image rendered successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
    }
  }
}